<?xml version="1.0"?>
<config>
	 <station>
                <url>http://58.68.11.180:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Delhi</folderpath>
        </station>
        <station>
                <url>http://27.251.82.3:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Mumbai</folderpath>
        </station>
        <station>
                <url>http://27.251.88.180:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Kolkata</folderpath>
        </station>
        <station>
                <url>http://61.246.247.156:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Chennai</folderpath>
        </station>
        <station>
                <url>http://121.247.154.125:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Thiruvananthapuram</folderpath>
        </station>
	 <station>
                <url>http://122.170.118.194:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Ahmedabad</folderpath>
        </station>
	 <station>
                <url>http://203.201.63.234:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Bangalore</folderpath>
        </station>
	 <station>
                <url>http://122.175.35.85:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Hyderabad</folderpath>
        </station>
	<station>
                <url>http://219.64.201.160:8000/stream/1/</url>
                <folderpath>D:\transcoder\MP3Dec\REDFM\Pune</folderpath>
        </station>
</config>
